.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.btn-save {
    background-color: #4CAF50; /* Màu nền */
    border: none; /* Loại bỏ viền */
    color: white; /* Màu chữ */
    padding: 10px 20px; /* Khoảng cách bên trong */
    text-align: center; /* Căn giữa văn bản */
    text-decoration: none; /* Loại bỏ gạch chân */
    display: inline-block; /* Hiển thị dưới dạng khối nội tuyến */
    font-size: 16px; /* Kích thước chữ */
    margin: 4px 2px; /* Khoảng cách ngoài */
    cursor: pointer; /* Thay đổi con trỏ chuột khi hover */
    border-radius: 8px; /* Bo góc */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu nền */
    display: none; /* Ẩn nút */
}

.btn-save:hover {
    background-color: #45a049; /* Màu nền khi hover */
}

.btn-save .ti-save {
    margin-right: 8px; /* Khoảng cách giữa icon và chữ */
}

.f-icon {
    font-size: 100px;
    vertical-align: middle;
}

.icon-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.icon-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.icon-cell:hover {
    background-color: #f0f0f0;
}

.icon-cell.selected {
    background-color: #7b0000;
    color: white;
}

.icon-cell.selected .f-icon {
    color: white;
}

#selected-icon-display .f-icon {
    font-size: 100px;
}

#icon-grid {
    max-height: 300px;
    overflow-y: auto;
}

.select-icon-container {
    display: flex;
    align-items: center;
}

#show-icon-grid {
    background-color: rgb(241, 54, 85);
    border-color: rgb(241, 54, 85);
}

.dropzone .dz-preview .dz-image img {
    width: 100%;
}
.image-list {
    display: flex;
    flex-wrap: wrap;
}
.image-list .image-item {
    display: inline-block;
    position: relative;
    margin: 10px; /* Add margin to space out the images */
}
.image-list img {
    width: 100px;
    height: auto;
}
.image-list .image-item .delete-image {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none; /* Ensure the link has no underline */
}
.product-card {
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.product-card:hover {
    border-color: #ff0000;
}

.product-image {
    position: relative;
}

.product-image img {
    max-width: 100%;
}

.product-details {
    padding: 10px 0;
}

.product-details span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.selected {
    border-color: #007bff;
}
.custom-file-input ~ .custom-file-label::after {
    content: "Browse";
}
.thumbnail-preview-container img {
    display: inline-block;
    max-width: 100%;
    max-height: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}
.custom-file-label::after {
    display: none;
}
/* CSS cho các nút chỉnh sửa và xóa */
.position-relative {
    position: relative;
}

.editImageLink,
.deleteImageLink {
    position: absolute;
    font-size: 1.2em;
    z-index: 10;
    text-decoration: none;
    cursor: pointer;
}

.editImageLink {
    top: 10px;
    right: 10px;
    color: #007bff; /* Màu icon cho chỉnh sửa */
}

.deleteImageLink {
    top: 10px;
    right: 40px;
    color: #dc3545; /* Màu icon cho xóa */
}

.editImageLink:hover {
    color: #0056b3; /* Màu icon khi hover cho chỉnh sửa */
}

.deleteImageLink:hover {
    color: #c82333; /* Màu icon khi hover cho xóa */
}

.card {
    position: relative;
}

.card-body {
    padding: 15px;
}

.btn.active {
    background-color: rgb(0, 218, 247) !important;
    border-color: rgb(0, 218, 247) !important;
}

.modal-lg {
    max-width: 80%;
}

.modal-body {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.modal-content {
    background-color: #f2f2f2; /* Màu xám */
}



